body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  .select-style select {
    padding: 8px;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .custom-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #45a049;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  /* Estilos adicionais para a lista suspensa */
  .select-style {
    position: relative;
    display: inline-block;
    width: 200px;
  }
  
  .select-style::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    pointer-events: none;
  }
  
  .select-style select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    outline: none;
    color: #555;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }

.output-container {
    margin-top: 10px;
  }
  
  .output-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .output-container #textOutput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
  }
  
textarea, #textOutput {
    width: 700px;
  }
  
  @media (max-width: 600px) {
    textarea, #textOutput {
      width: 100%;
    }
  }
  